* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #06283d;
}

.card {
  width: 90%;
  max-width: 655px;
  background: white;
  color: #06283d;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  padding-bottom: 5px;
}
#search-form {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-form input {
  color: #06283d;
  width: 100%;
  border: none;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 10px;
  padding-right: 180px;
  margin-left: 35px;
}

#search-form input::placeholder {
  font-size: 22px;
  font-weight: 500;
  color: #06283d;
  text-transform: capitalize;
}

#search-form button {
  margin-right: -10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #06283d;
  background: #dff6ff;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}

#search-form button:hover {
  color: #fff;
  background: #06283d;
}

#search-form button i:hover {
  color: #fff;
  background: #06283d;
}

#search-form i {
  margin-left: 20px;
  position: absolute;
  color: #06283d;
  font-size: 36px;
}

#search-button i {
  margin-left: 3px;
  position: relative;
  color: #06283d;
  font-size: 25px;
}

.error {
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

.units span a {
  color: #06283d;
  text-decoration: none;
}

.units span a:hover {
  color: blue;
}

#temperature {
  color: #06283d;
  font-size: 28px;
  font-weight: 400;
}

#humidity,
#wind-speed {
  color: #06283d;
  font-size: 20px;
  font-weight: 400;
}

#date,
#description,
#details {
  color: #06283d;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

#current-position {
  color: #06283d;
  background-color: #dff6ff;
  padding: 10px 30px;
  margin-bottom: 10px;
  border: 1px solid #dff6ff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  transition: all 200ms ease;
}

#current-position:hover {
  color: #fff;
  background: #06283d;
}

#source-code span a {
  color: blue;
  text-decoration: none;
}

#source-code span a:hover {
  color: blueviolet;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  color: #06283d;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: #06283d;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
